[Unit]
Description=AVideo Streaming and Chat service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
ExecStart=/usr/bin/php /var/www/avideo/plugin/LiveChat/chat-server.php

[Install]
WantedBy=multi-user.target
